h2 Se connecter
form
   input(type="email", ng-model="loginEmail")
   input(type="password", ng-model="loginPassword")
   input(type="submit", ng-click="login()")
h2 S'inscrire
form
   input(type="email", ng-model="createEmail")
   input(type="password", ng-model="createPassword")
   input(type="submit", ng-click="createUser()")
