h2 Se connecter
form
   input(type="email", ng-model="loginEmail")
   input(type="password", ng-model="loginPassword")
   input(type="submit", ng-click="login()")
h2 S'inscrire
form
   label Prénom
      input(type="firstName", ng-model="createFirstName")
   label Nom de famille
      input(type="lastName", ng-model="createLastName")
   label Email
      input(type="email", ng-model="createEmail")
   label Mot de passe
      input(type="password", ng-model="createPassword")
   input(type="submit", ng-click="createUser()")
